asttokens          
autocommand        
backcall           
backports.csv      
beautifulsoup4     
certifi            
cffi               
charset-normalizer 
cheroot            
CherryPy           
click              
cryptography       
cycler             
debugpy            
decorator          
entrypoints        
executing          
feedparser         
fonttools          
future             
gensim             ==3.6.0
idna               
inflect            
ipykernel          
ipython            
ipywidgets         
jaraco.classes     
jaraco.collections 
jaraco.context     
jaraco.functools   
jaraco.text        
jedi               
joblib             
jupyter_client     
jupyter_core       
jupyterlab-widgets 
kiwisolver         
lxml               
matplotlib         
matplotlib-inline  
more-itertools     
mysqlclient        
nest-asyncio       
nltk               
numpy              
packaging          
pandas             
parso              
Pattern            
pdfminer.six       
pexpect            
pickleshare        
Pillow             
pip                
platformdirs       
portend            
prompt-toolkit     
psutil             
ptyprocess         
pure-eval          
pycparser          
pydantic           
Pygments           
pyparsing          
python-dateutil    
python-docx        
pytz               
pyzmq              
regex              
requests           
scikit-learn       
scipy              
setuptools         
sgmllib3k          
six                
smart-open         
soupsieve          
stack-data         
tempora            
threadpoolctl      
tornado            
tqdm               
traitlets          
typing_extensions  
urllib3            
wcwidth            
wheel              
widgetsnbextension 
wordcloud          
zc.lockfile        
